#frame-top {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 10px 0 10px;
}
#frame-rc {
  display: flex;
  width: 50%;
  flex-direction: row-reverse;
}
#frame-lc {
  display: flex;
  width: 50%;
}
#frame-bottom {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 10px 10px 10px;
}
#hvr-sink {
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
#button-hover {
  background-color: #FAD4D4;
  transition: 0.5s;
  color: #49281A;
  border-color: #AB6831;
}
#htwo {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 400;
  color: #49281a;
  line-height: 3.8rem;
}
#htwolarge {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 400;
  color: #49281a;
  line-height: normal;
}
.frame-top {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 10px 0 10px;
}
.frame-bottom {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 10px 10px 10px;
}
.frame-lc {
  display: flex;
  width: 50%;
}
.frame-rc {
  display: flex;
  width: 50%;
  flex-direction: row-reverse;
}
.social-img:hover {
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
body {
  background-color: #FFF6EE;
}
.button-style {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 31px;
  color: #49281A;
  text-transform: uppercase;
  border: 2px solid #AB6831;
  border-radius: 0;
  padding: 0rem 2.5rem;
}
.button-style:hover {
  background-color: #FAD4D4;
  transition: 0.5s;
  color: #49281A;
  border-color: #AB6831;
}
button:focus {
  outline: none;
}
.navbar-light {
  padding-top: 20px;
}
.navbar-light .navbar-toggler {
  border: 2px solid #49281a;
  border: 0;
  padding-bottom: 50px;
}
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url(../img/navbar-dark.png);
}
.open-nav {
  background-color: #49281A;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.open-nav h5 {
  color: #DFB78C;
}
.open-nav a {
  color: #FFF6EE;
}
.nav-white-logo {
  width: 60%;
  max-width: 200px;
  padding: 5px;
}
.index-logo {
  text-align: center;
  padding: 150px 0 20px 0;
}
.index-logo img {
  width: 100%;
  max-width: 500px;
}
.index-info {
  text-align: center;
}
.index-info .index-button {
  color: #DFB78C;
  border-color: #FFF6EE;
  transition: 0.5s;
}
.index-info .index-button:hover {
  background-color: #FAD4D4;
  transition: 0.5s;
  color: #49281A;
  border-color: #AB6831;
}
.index-info .index-p {
  color: #FFF6EE;
  text-transform: uppercase;
  padding: 20px;
  padding: 20px 0 20px 0;
}
.index-social-section {
  text-align: center;
}
.index-social-section .index-social {
  width: 100%;
  max-width: 60px;
  padding: 5px;
}
@media (max-width: 575px) {
  .onlydesktop {
    display: none;
  }
}
.location-body header {
  background-image: url("../img/location-jumbo.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: #1b1b10;
  padding-bottom: 100px;
}
.location-body header .location-container1 {
  padding-top: 50px;
}
.location-body header .location-container1 .frame-top {
  padding: 10px 10% 0 10%;
}
@media (min-width: 575px) {
  .location-body header .location-container1 .frame-top {
    padding: 0;
  }
}
.location-body header .location-container1 .frame-bottom {
  padding: 0 10% 10px 10%;
}
@media (min-width: 575px) {
  .location-body header .location-container1 .frame-bottom-mobile {
    display: none;
  }
}
.location-body header .location-container1 .locations-title {
  text-align: center;
  padding-bottom: 25px;
}
@media (min-width: 576px) {
  .location-body header .location-container1 .locations-title {
    padding-bottom: 0;
  }
}
.location-body header .location-container1 .locations-title h2 {
  color: #DFB78C;
  padding: 25px 0;
}
@media (min-width: 576px) {
  .location-body header .location-container1 .locations-title h2 {
    padding: 0;
  }
}
.location-body header .location-container1 .locations-title h3 {
  padding-bottom: 5px;
}
@media (min-width: 575px) {
  .location-body header .location-container1 .locations-title h3 {
    display: none;
  }
}
@media (min-width: 576px) {
  .location-body header .location-container1 .location-summary {
    padding: 0 30px;
  }
}
.location-body header .location-container1 .location-summary .entry-location {
  padding: 30px 3%;
  text-align: center;
}
.location-body header .location-container1 .location-summary .entry-location img {
  width: 80%;
  padding: 5px;
}
@media (min-width: 575px) {
  .location-body header .location-container1 .location-summary .entry-location img {
    width: 100%;
  }
}
.location-body header .location-container1 .location-summary .entry-location h3 {
  text-align: center;
}
@media (min-width: 575px) {
  .location-body header .location-container1 .location-summary .entry-location h3 {
    font-size: 16px;
  }
}
@media (min-width: 800px) {
  .location-body header .location-container1 .location-summary .entry-location h3 {
    font-size: 26px;
  }
}
.location-body header .location-container1 .frame-bottom-desktop {
  display: none;
}
@media (min-width: 575px) {
  .location-body header .location-container1 .frame-bottom-desktop {
    display: contents;
    padding: 0;
    display: flex;
  }
}
.location-body .location-container2 {
  padding: 0 0 100px 0;
}
@media (min-width: 576px) {
  .location-body .location-container2 {
    max-width: 100%;
  }
}
.location-body .location-container2 .loca-row {
  margin: 0;
}
@media (min-width: 576px) {
  .location-body .location-container2 .loca-row {
    display: contents;
  }
}
@media (min-width: 725px) {
  .location-body .location-container2 .loca-row {
    display: flex;
  }
}
@media (min-width: 725px) {
  .location-body .location-container2 .loca-row .cg-desktop {
    background-image: url("../img/coralgables-02.png");
    background-size: cover;
    background-position: top;
  }
}
@media (min-width: 725px) {
  .location-body .location-container2 .loca-row .cg-desktop img {
    display: none;
  }
}
@media (min-width: 725px) {
  .location-body .location-container2 .loca-row .miami-desktop {
    background-image: url("../img/miami-02.png");
    background-size: cover;
    background-position: top;
  }
}
@media (min-width: 725px) {
  .location-body .location-container2 .loca-row .miami-desktop img {
    display: none;
  }
}
@media (min-width: 725px) {
  .location-body .location-container2 .loca-row .mb-desktop {
    background-image: url("../img/middleburg-02.png");
    background-size: cover;
    background-position: top;
  }
}
@media (min-width: 725px) {
  .location-body .location-container2 .loca-row .mb-desktop img {
    display: none;
  }
}
.location-body .location-container2 .loca-row .width50 {
  padding: 0;
}
.location-body .location-container2 .loca-row .width50 img {
  width: 100%;
}
.location-body .location-container2 .loca-row .width50 .location-info {
  padding: 30px 5% 60px 5%;
  text-align: center;
}
@media (min-width: 575px) {
  .location-body .location-container2 .loca-row .width50 .location-info {
    text-align: left;
  }
}
.location-body .location-container2 .loca-row .width50 .location-info p {
  font-size: 20px;
  text-align: left;
}
@media (min-width: 725px) {
  .location-body .location-container2 .miami-row {
    flex-direction: row-reverse;
  }
}
@media (min-width: 725px) {
  .location-body .location-container2 .miami-row .width50 .location-info-mia {
    text-align: right;
  }
}
@media (min-width: 725px) {
  .location-body .location-container2 .miami-row .width50 .location-info-mia p {
    text-align: right;
  }
}
.social-carousel {
  text-align: center;
  margin: auto;
  padding: 5%;
}
.social-carousel .w-100 {
  width: 90%;
  max-width: 300px;
}
.social-carousel .social-h2 {
  font-size: 40px;
  padding: 0 3% 10px 3%;
  max-width: 300px;
  text-align: center;
  margin: auto;
}
@media (min-width: 575px) {
  .social-carousel .social-h2 {
    max-width: 100%;
  }
}
.social-carousel .carousel-inner {
  padding: 10px 5% 30px 5%;
}
.social-carousel .frame-top {
  padding-bottom: 10px;
}
.social-carousel .frame-bottom {
  padding-top: 55px;
}
h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 400;
  color: #49281a;
  line-height: 3.8rem;
}
h3 {
  font-family: 'Playfair Display', serif;
  color: #AB6831;
  text-transform: uppercase;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
}
@media (min-width: 993px) {
  p {
    font-size: 26px;
  }
}
@media (min-width: 993px) {
  .home-sec-two h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 400;
    color: #49281a;
    line-height: normal;
  }
  .home-sec-two h1 .home-line-break {
    display: none;
  }
  .home-sec-two .home-p-lg-w {
    max-width: 75%;
  }
  .home-sec-two .home-menu-button {
    max-width: 35%;
  }
}
@media (min-width: 1201px) {
  .home-sec-two .home-menu-button {
    max-width: 26%;
  }
}
@media (min-width: 993px) {
  .home-main .home-main-p {
    max-width: 75%;
  }
}
@media (min-width: 1201px) {
  .home-main .home-main-p {
    max-width: 100%;
  }
  .home-main .home-main-p p {
    font-size: 24px;
  }
}
.home-sec-three h2 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 400;
  color: #49281a;
  line-height: normal;
}
.about-bg-image header {
  background-image: url("../img/about-jumbo.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 250px;
}
@media (min-width: 992px) {
  .about-bg-image header {
    padding-bottom: 350px;
  }
}
@media (min-width: 1400px) {
  .about-bg-image header {
    padding-bottom: 450px;
  }
}
@media (min-width: 1750px) {
  .about-bg-image header {
    padding-bottom: 550px;
  }
}
@media (min-width: 2100px) {
  .about-bg-image header {
    padding-bottom: 700px;
  }
}
.about-bg-image .about-est h2 {
  color: white;
}
.about-bg-image .about-est p {
  font-size: 1.4rem;
}
.catering-bg-image header {
  background-image: url("../img/catering-jumbo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 200px;
}
.catering-bg-image header .catering-header h2 {
  color: white;
}
.catering-bg-image header .catering-header p {
  color: white;
  font-size: 1.4rem;
}
.form-group {
  font-family: 'Lato', sans-serif;
}
.menu-hero-image header {
  background-image: url("../img/menu-jumbo.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 992px) {
  .menu-hero-image header {
    padding-bottom: 250px;
  }
}
@media (min-width: 1400px) {
  .menu-hero-image header {
    padding-bottom: 450px;
  }
}
@media (min-width: 1750px) {
  .menu-hero-image header {
    padding-bottom: 550px;
  }
}
@media (min-width: 2100px) {
  .menu-hero-image header {
    padding-bottom: 700px;
  }
}
.menu-hero-image div.explore-our-menu {
  color: white;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 5%;
}
.explore-our-menu h2 {
  color: white;
}
.explore-our-menu p {
  color: white;
  font-size: 1.4rem;
}
img.menu-container {
  float: left;
  width: 50%;
  padding: 5%;
}
.menu-right {
  float: right;
  width: 45%;
  padding-top: 5%;
  padding-right: 5%;
}
a.menu-right {
  margin-left: 5%;
}
.btn {
  margin-left: 25%;
}
.footer-section {
  padding-top: 70%;
  font-family: 'Lato', sans-serif;
  color: #49281A;
}
.nav-links {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  color: #49281A;
  padding: 10%;
}
.social-links {
  padding-top: 5%;
  float: right;
}
