@import "./variables.less";
@import "./mixins.less";


//Frame
.frame-top {
    #frame-top
}

.frame-bottom {
    #frame-bottom
}

.frame-lc {
    #frame-lc
}

.frame-rc {
    #frame-rc
}

//Social Icon Hover

.social-img:hover {
    #hvr-sink
}


body {
    background-color: @primary-color;
}

.button-style {
    font-family: @headline-font;
    font-weight: @headline-weight;
    font-size: @button-font-size;
    color: @dark-brown;
    text-transform: @uppercase;
    border: @button-border;
    border-radius: @no-radius;
    padding: @button-padding;
}

button:focus {
    outline: none;
}

.navbar-light {
    .navbar-toggler {
        border: @nav-menu-border;
        border: @no-radius;
        .navbar-toggler-icon {
            background-image: url(../img/navbar-dark.png);
        }
    }
}


.open-nav {
    background-color: @dark-brown;
    font-family: @body-font;
    font-weight: @nav-weight;
        h5{
            color: @light-brown;
        }
        a {
            color: @primary-color;
        }
}

h1, h2 {
    #htwo;
}

footer {
   background-color: @primary-color; 
   color: @white;
}