@import "./variables.less";
@import "./mixins.less";

//Frame
.frame-top {
    #frame-top
}

.frame-bottom {
    #frame-bottom
}

.frame-lc {
    #frame-lc
}

.frame-rc {
    #frame-rc
}

//Social Icon Hover

.social-img:hover {
    #hvr-sink
}

body {
    background-color: @primary-color;
}

.button-style {
    font-family: @headline-font;
    font-weight: @headline-weight;
    font-size: @button-font-size;
    color: @dark-brown;
    text-transform: @uppercase;
    border: @button-border;
    border-radius: @no-radius;
    padding: @button-padding;
     &:hover{
           #button-hover
     }
}

button:focus {
    outline: none;
}

.navbar-light {
    padding-top: 20px;
    .navbar-toggler {
        border: @nav-menu-border;
        border: @no-radius;
        padding-bottom: 50px;
        .navbar-toggler-icon {
            background-image: url(../img/navbar-dark.png);
        }
    }
}

.open-nav {
    background-color: @dark-brown;
    font-family: @body-font;
    font-weight: @nav-weight;
        h5{
            color: @light-brown;
        }
        a {
            color: @primary-color;
        }
}

.nav-white-logo {
    width: 60%;
    max-width: 200px;
    padding: 5px;
}

//Index Page

.index-logo {
    text-align: center;
    padding: 150px 0 20px 0;
    img {
        width: 100%;
        max-width: 500px;
    }
}

.index-info {
    text-align: center;
    .index-button {
        color: @light-brown;
        border-color: @primary-color;
        transition: .5s;
        &:hover{
           #button-hover
        }
    }
    .index-p {
        color: @primary-color;
        text-transform: uppercase;
        padding: 20px;
        padding: 20px 0 20px 0;
    }
}

.index-social-section {
    text-align: center;
    .index-social {
        width: 100%;
        max-width: 60px;
        padding: 5px;
    }
}

//Location Page


.onlydesktop {
    @media (max-width: 575px) {
        display: none;
    }
}

.location-body {
    header {
        background-image: url("../img/location-jumbo.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        background-color: #1b1b10;
        padding-bottom: 100px;
        .location-container1 {
            padding-top: 50px;
            .frame-top {
                padding: 10px 10% 0 10%;
                @media (min-width: 575px) {
                    padding: 0;
                }
            }
            .frame-bottom {
                padding: 0 10% 10px 10%;
            }
            .frame-bottom-mobile {
                @media (min-width: 575px) {
                display: none;
                }   
            }
            .locations-title {
                text-align: center;
                padding-bottom: 25px;
                 @media (min-width: 576px) {
                    padding-bottom: 0;
                }
                h2 {
                    color: @light-brown;
                    padding: 25px 0;
                     @media (min-width: 576px) {
                        padding: 0;
                    }
                }
                h3 {
                    padding-bottom: 5px;
                    @media (min-width: 575px) {
                        display: none;
                    }
                }
            }
            .location-summary {
                @media (min-width: 576px) {
                    padding: 0 30px;
                }
                .entry-location {
                    padding: 30px 3%;
                    text-align: center;
                    img {
                        width: 80%;
                        padding: 5px;
                        @media (min-width: 575px) {
                            width: 100%;
                        }
                    }
                    h3 {
                        text-align: center;
                        @media (min-width: 575px) {
                            font-size: 16px;
                        }
                        @media (min-width: 800px) {
                            font-size: 26px;
                        }
                    }
                }
            }
            .frame-bottom-desktop {
                display: none;
                @media (min-width: 575px) {
                display: contents;
                padding: 0;
                display: flex;
                }  
            }
        }
    } 
    .location-container2 {
        padding: 0 0 100px 0;
        @media (min-width: 576px) {
            max-width: 100%;
        }
        .loca-row {
            margin: 0;
            @media (min-width: 576px) {
                display: contents;
            }
            @media (min-width: 725px) {
                display: flex;
            }
            .cg-desktop {
                @media (min-width: 725px) {
                    background-image: url("../img/coralgables-02.png");
                    background-size: cover;
                    background-position: top;
                }
                img {
                    @media (min-width: 725px) {
                        display: none;
                    }
                }
            }
            .miami-desktop {
                @media (min-width: 725px) {
                    background-image: url("../img/miami-02.png");
                    background-size: cover;
                    background-position: top;
                }
                img {
                    @media (min-width: 725px) {
                        display: none;
                    }
                }
            }
            .mb-desktop {
                @media (min-width: 725px) {
                    background-image: url("../img/middleburg-02.png");
                    background-size: cover;
                    background-position: top;
                }
                img {
                    @media (min-width: 725px) {
                        display: none;
                    }
                }
            }
            .width50 {
                padding: 0;
                img {
                    width: 100%;
                }
                .location-info {
                    padding: 30px 5% 60px 5%;
                    text-align: center;
                    @media (min-width: 575px) {
                        text-align: left;
                    }
                    p {
                        font-size: 20px;
                        text-align: left;
                    }
                }
            }
        }
        .miami-row {
            @media (min-width: 725px) {
                flex-direction: row-reverse;
            }
            .width50 {
                .location-info-mia {
                    @media (min-width: 725px) {
                    text-align: right;
                    }
                    p {
                        @media (min-width: 725px) {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }     
}

//Carousel

.social-carousel {
    text-align: center;
    margin: auto;
    padding: 5%;
    .w-100 {
        width: 90%;
        max-width: 300px;
    }
    .social-h2 {
        font-size: 40px;
        padding: 0 3% 10px 3%;
        max-width: 300px;
        text-align: center;
        margin: auto;
        @media (min-width: 575px) {
            max-width: 100%;
        }
    }
    .carousel-inner {
        padding: 10px 5% 30px 5%;
    }
    .frame-top {
        padding-bottom: 10px;
    }
    .frame-bottom {
        padding-top: 55px;
    }
}



// home mobile text
h1, h2 {
    #htwo;
}

h3{
    font-family: @headline-font;
    color: @medium-brown;
    text-transform: @uppercase;
}

p {
    font-family: @body-font;
    font-weight: @body-weight;
    font-size: @mobile-body-size;
    @media (min-width: 993px) {
        font-size: @body-size;
    }
}

.home-sec-two {
    @media (min-width: 993px) {
        h1 {
            #htwolarge;
            .home-line-break{
                display: @displaynone;
            }
        }
        .home-p-lg-w {
            max-width: @home-p-lg-w;
        }
        .home-menu-button {
            max-width: @home-btn-lg-w;
        }
    }
    @media (min-width: 1201px){
        .home-menu-button {
            max-width: @home-btn-xl-w;
        }
    }
}

.home-main {
    @media (min-width: 993px) {
        .home-main-p {
            max-width: @home-p-lg-w;
        }
    }
    @media (min-width: 1201px) {
        .home-main-p {
            max-width: @home-p-xl-w;
            p {
                font-size: @xl-home-main-size;
            }
        } 
    }
}

.home-sec-three {
    h2{
        #htwolarge
    }
}

// about page

.about-bg-image {
   header {
        background-image: @about-bg;
        background-position: @about-bg-position;
        background-repeat: @no-repeat;
        background-size: @background-size;
        padding-bottom: @padding-bottom;
        @media (min-width: 992px) {
            padding-bottom: @paddingb-lg;
        }
        @media (min-width: 1400px) {
            padding-bottom: @paddingb-xl;
        }
        @media (min-width: 1750px) {
            padding-bottom: @paddingb-xxl;
        }
        @media (min-width: 2100px) {
            padding-bottom: @paddingb-xxxl;
        }
   } 
   .about-est {
       h2 {
           color: @white;
       }
       p {
        font-size: @mobile-body-size;
       }
    }
}

// catering page

.catering-bg-image {
    header {
        background-image: @catering-bg;
        background-repeat: @no-repeat;
        background-size: @background-size;
        background-position: @catering-bg-position;
        padding-bottom: @catering-pb;
        .catering-header {
            h2 {
                color: @white;
            }
            p {
                color: @white;
                font-size: @mobile-body-size;
            }
        }
    }
} 

.form-group {
    font-family: @body-font;
}

//menu 

.menu-hero-image {
    header {
         background-image: @menu-bg;
         background-position: @menu-bg-position;
         background-repeat: @no-repeat;
         background-size: @background-size;
         @media (min-width: 992px) {
             padding-bottom: @padding-bottom;
         }
         @media (min-width: 1400px) {
             padding-bottom: @paddingb-xl;
         }
         @media (min-width: 1750px) {
             padding-bottom: @paddingb-xxl;
         }
         @media (min-width: 2100px) {
             padding-bottom: @paddingb-xxxl;
         }
        }
        div.explore-our-menu {
            color: white;
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 2%;
            padding-bottom: 5%;


        }
    }

        .explore-our-menu {
            h2 {
                color: @white;
            }
            p {
                color:@white;
                font-size: @mobile-body-size;
            }
         }

         img.menu-container {
            float: left;
            width: 50%;
            padding:5%;
          }
          
          .menu-right {
            float: right;
            width: 45%;
            padding-top: 5%;
            padding-right: 5%;
          }
          
          a.menu-right{
              margin-left: 5%;
          }

          .btn {
              margin-left: 25%;
          }
          
//footer

    .footer-section {
        padding-top:70%;
        font-family: @body-font;
        color: @dark-brown;
    }

    .nav-links{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;
        font-family: @body-font;
        color: @dark-brown;
        padding:10%;
    }

    .social-links {
        padding-top:5%;
        float: right;
    }
   
