@import "./variables.less";

body {
    background-color: @primary-color;
}

.button-style {
    font-family: @headline-font;
    font-weight: @headline-weight;
    font-size: @button-font-size;
    color: @dark-brown;
    text-transform: @uppercase;
    border: @button-border;
    border-radius: @no-radius;
    padding: @button-padding;
}

.navbar-light {
    .navbar-toggler {
        border: @nav-menu-border;
        border-radius: @no-radius;
    }
}

.open-nav {
    background-color: #49281A;
    font-family: @body-font;
        h5{
            color: @light-brown;
        }
        a {
            color: @primary-color;
        }
}