//frame-top
#frame-top {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px 10px 0 10px;
}


//frame-right-corner
#frame-rc {
    display: flex;
    width: 50%;
    flex-direction: row-reverse;
}


//frame-left-corner
#frame-lc {
    display: flex;
    width: 50%;
}


//frame-bottom
#frame-bottom {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 10px 10px 10px;
}

// Hover Sink Effect
#hvr-sink {
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}


//button-hover
#button-hover {
    background-color: @rose;
    transition: .5s;
    color: @dark-brown;
    border-color: @medium-brown;
}

// H1 and H2 styles for mobile at 320px, I did this for the homepage but it may work elsewhere

#htwo {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 400;
    color: #49281A;
    line-height: 3.8rem;
}

// H1 and H2 styles for large screens

#htwolarge {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 400;
    color: #49281A;
    line-height: normal;
}