// fonts
@headline-font: 'Playfair Display', serif;
@headline-weight: 400;
@headline-size: 60px;

@body-font: 'Lato', sans-serif;
@body-weight: 300;
@nav-weight: 400;
@body-size: 26px;
@mobile-body-size: 1.4rem;
@xl-home-main-size: 24px;

@button-font-size: 31px;
@uppercase: uppercase;

// misc
@displaynone: none;

// colors
@primary-color: #FFF6EE;
@dark-brown: #49281A;
@light-brown: #DFB78C;
@medium-brown: #AB6831;
@white: white;

// enter page bg images
@first-img: url("../img/enter-01.png");
@second-img: url("../img/enter-02.png");
@third-img: url("../img/enter-03.png");

// button styles
@button-border: 2px solid #AB6831;
@no-radius: 0;
@button-padding: 0rem 2.5rem;

//navbar
@navbar-toggler-color: #49281A;

//rgba removes bootstrap opacity on menu button
@nav-menu-border: 2px solid rgba(73, 40, 26, 1);

// max widths for homepage containers

@home-p-lg-w: 75%;
@home-btn-lg-w: 35%;
@home-btn-xl-w: 26%;
@home-p-xl-w: 100%;

// navbar logo resize from smallest to largest screen sizes
@navlogo-xs: 30%;
@navlogo-s: 20%;
